<header>
 <div class="SideBySide">
  <h1 class ="sample"><img src="pocky.png" alt="Pocky"></h1>
  <a href="#"><h1>Pocky<h1></a>
 </div>
 <div class="right">
   <%= @today %> (<%= @yobi %>)
  </div>
 <nav id="global-nav">
    <ul>
      <li><a href="/club_names">部活動一覧</a></li>
      <li><a href="#">天気</a></li>
      <li><a href="#">交通状況</a></li>
      <li><a href="#">お問い合わせ</a></li>
      <li><a href="#">ログイン</a></li>
    </ul>
  </nav>
</header>

<main>
 <h3>部活動一覧</h3>
 <div style="text-align:center">
  <div class="row" style="text-align:center">
    <% ClubName.all.order(:sort).each do |club_name| %>
      <div class="col-md-3 col-xs-offset-1 mybox"><%= club_name.name %></div>
    <% end %>
  </div>
 </div>

 <h3>天気</h3>

 <h3>交通状況</h3>
</main>

<footer>

</footer>
