// Place all the styles related to the clubs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
//.box-1 {
   // border: 4px solid #82636b;
   // border-radius: 240px 15px 185px 15px / 15px 200px 15px 185px;
   // margin: 2em 0;
   // padding: 2em;
//}
.check1 {
	width: 90%;
	margin: 2em auto;
	text-align: center;
}
@keyframes click-wave {
	0% {
		position: relative;
		width: 30px;
		height: 30px;
		opacity: 0.35;
	}
	100% {
		width: 200px;
		height: 200px;
		margin-top: -80px;
		margin-left: -80px;
		opacity: 0;
	}
}
.check1 .option-input {
	position: relative;
	position: relative;
	top: 13.33333px;
	right: 0;
	bottom: 0;
	left: 0;
	width: 30px;
	height: 30px;
	margin-right: 0.5rem;
	cursor: pointer;
	transition: all 0.15s ease-out 0s;
	color: #ffffff;
	border: none;
	outline: none;
	background: #d7cbcb;
	-webkit-appearance: none;
	        appearance: none;
}
.check2 .option-input:hover {
	background:#C2EEFF;
}
.check1 .option-input:checked {
	background: #da3c41;
}
.check1 .option-input:checked::before {
	font-size: 20px;
	line-height: 30px;
	position: absolute;
	display: inline-block;
	width: 30px;
	height: 30px;
	content: '✔';
	text-align: center;
}
.check1 .option-input:checked::after {
	position: relative;
	display: block;
	content: '';
	-webkit-animation: click-wave 0.65s;
	        animation: click-wave 0.65s;
	background: #da3c41;
}
.check1 .option-input.radio1 {
	border-radius: 50%;
}
.check1 .option-input.radio1::after {
	border-radius: 50%;
}
.check1 {
	line-height: 40px;
    display: block;
}

.check2 {
	width: 90%;
	margin: 2em auto;
}
@keyframes click-wave {
	0% {
		position: relative;
		width: 30px;
		height: 30px;
		opacity: 0.35;
	}
	100% {
		width: 200px;
		height: 200px;
		margin-top: -80px;
		margin-left: -80px;
		opacity: 0;
	}
}
.check2 .option-input {
	position: relative;
	position: relative;
	top: 13.33333px;
	right: 0;
	bottom: 0;
	left: 0;
	width: 30px;
	height: 30px;
	margin-right: 0.5rem;
	cursor: pointer;
	transition: all 0.15s ease-out 0s;
	color: #ffffff;
	border: none;
	outline: none;
	background: #d7cbcb;
	-webkit-appearance: none;
	        appearance: none;
}
.check2 .option-input:checked {
	background:#66FFFF;
}
 
.check2 .option-input:checked::before {
	font-size: 20px;
	line-height: 30px;
	position: absolute;
	display: inline-block;
	width: 30px;
	height: 30px;
	content: '✔';
	text-align: center;
}
.check2 .option-input:checked::after {
	position: relative;
	display: block;
	content: '';
	-webkit-animation: click-wave 0.65s;
	        animation: click-wave 0.65s;
	background: #da3c41;
}
.check2 .option-input.radio2 {
    border-radius: 50%;
}
.check2 .option-input.radio2::after {
	border-radius: 50%;
}
.check2 {
	line-height: 40px;
    display: block;
}

.text_left {
	text-align: left;
}
  
tr{
  // display: inline-block;
  font-size: 18px;
  font-weight: bold;
  word-spacing : 20px;
}
th{
	letter-spacing: 0.05em;
	line-height: 24px;
}

.row{ 
	overflow: hidden;

	padding: 1.5rem 6rem;
  
	color: #fff;
	border-radius: 0;
	background: rgb(153, 138, 138);
	position: relative;
	z-index: 1;
	margin:15px;
}
.col-md-4{  
	position: relative;
	display: inline-block;
	font-weight: bold;
	padding: 0.5em 1em;
	text-decoration: none;
	border-left: solid 4px #668ad8;
	border-right: solid 4px #668ad8;
	color: #668ad8;
	background: #e1f3ff;
	transition: .4s;
}
.col-md-4:hover{
	background: #668ad8;
	color: #FFF;
}
a{
	font-family: Courier;
}
.lank{
	margin-top: 30px;
}
.lnk{
	margin-bottom: 50px;
}


.illust {
	display: inline-block;
	height: 100px;
	width: 100px;
  }
 
.illust img {
	height: 100%;
  }