// Place all the styles related to the otoiawases controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.otoiawase p {
    color: lightsalmon;
    font-size: 20px;
    font-family: inherit;
}

.otoiawase h1 {
    color: rgb(185, 95, 11);
}